In [5]:
import pandas as pd

In [1]:
import openai
openai.api_key = "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"
import json

def get_completion(prompt):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model = "gpt-3.5-turbo",
        messages=messages,
        temperature=0, # this is the degree of randomness of the model's output
    )
    return response.choices[0].message["content"]

In [2]:
df = pd.read_csv("preprocessed_job.csv") 
job_description = df['job_description']

In [80]:
for i in range(11000, len(df)):
    text = job_description[i]
    prompt = f"""
             Output a JSON object that list out the hard skills, tools, programming skills 
               ```{text}``` """
   
    response = get_completion(prompt)
    time.sleep(19)
    try:
        extract_text = json.loads(response)
        df["hard skills"][i] = extract_text.get("hard_skills")
        df["tools"][i] = extract_text.get("tools")
        df["programming skills"][i] = extract_text.get("programming_skills")
    except:
        pass

df.to_csv('3_AI_extraction.csv', index=False)

In [14]:
import pandas as pd
df = pd.read_csv("Data/3-AI extracted data.csv")
print(df.shape)
df.head(3)

(11184, 8)

,job_title,location,career_level,experience,job_type,hard skills,tools,programming skills
0,data analyst,johor bahru,non-executive,not specified,full-time,"['data analytics', 'knowledge in online table ...",['MS Excel'],[]
1,director- data analytics,petaling jaya,senior manager,12 years,full-time,"['data science', 'business intelligence', 'mac...","['data robot', 'visualisation tools', 'Tableau...","['Python', 'SQL']"
2,solutions architect - data lake specialist (ba...,kuala lumpur,senior executive,8 years,full-time,"['data lake architecture', 'data modelling', '...","['Hadoop', 'Spark', 'NoSQL databases', 'AWS S3...",[]

In [15]:
df['required_skills'] = df['hard skills'] + df['tools'] + df['programming skills']
df.drop(columns=['hard skills', 'tools','programming skills'], inplace=True)
df.head(3)

,job_title,location,career_level,experience,job_type,required_skills
0,data analyst,johor bahru,non-executive,not specified,full-time,"['data analytics', 'knowledge in online table ..."
1,director- data analytics,petaling jaya,senior manager,12 years,full-time,"['data science', 'business intelligence', 'mac..."
2,solutions architect - data lake specialist (ba...,kuala lumpur,senior executive,8 years,full-time,"['data lake architecture', 'data modelling', '..."

In [17]:
#df.to_csv("Data/4-clean dataset.csv", index=False)